/*
Theme Name: KDE Æther
Author: The KDE Community
Author URI: https://kde.org
Description: Æther design for the KDE community and associated websites
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: aether
Domain Path: /languages/
Tags: kde, one-column, two-columns, right-sidebar, fluid-layout, responsive-layout, photoblogging, left-sidebar, translation-ready, custom-background, custom-colors, custom-menu, featured-images, full-width-template, post-formats, theme-options, threaded-comments

Contributors:
 - Ken Vermette <vermette@gmail.com>
 - Jonthan Riddell <jr@jriddell.org>
 - Alejandro Moreno
 - Colorlib
*/


/* Global
----------------------------------------------- */


@font-face {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  src: local('Noto Sans'),
       local('Noto-Sans-regular'),
       url('/Noto-Sans-regular/Noto-Sans-regular.woff2') format('woff2'),
       url('/Noto-Sans-regular/Noto-Sans-regular.woff') format('woff'),
       url('/Noto-Sans-regular/Noto-Sans-regular.ttf') format('truetype'),
       url('/Noto-Sans-regular/Noto-Sans-regular.svg#NotoSans') format('svg');
}


@font-face {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
  src: local('Noto Sans Bold'),
       local('Noto-Sans-700'),
       url('/Noto-Sans-700/Noto-Sans-700.woff2') format('woff2'),
       url('/Noto-Sans-700/Noto-Sans-700.woff') format('woff'),
       url('/Noto-Sans-700/Noto-Sans-700.ttf') format('truetype'),
       url('/Noto-Sans-700/Noto-Sans-700.svg#NotoSans') format('svg');
}


body {
  color: #696969;
  word-wrap: break-word;
  font-family: 'Noto Sans', sans-serif;
	line-height: 150%;
  font-size: 14px;
	
  background-color: #fafafa;
	background: linear-gradient(to bottom, #e7e5e5 0%, #fafafa 500px);
	background-image: url("media/background.svg"), linear-gradient(to bottom, #e7e5e5 0%, #fafafa 50%);
	background-repeat: no-repeat,no-repeat;
	background-size: 100% 500px, auto;
	background-position: top center, auto;
}


main.container > section {
	margin-top: 20px;
	margin-bottom: 20px;
	border: solid 1px rgba(0,0,0,.2);
	background-color: #FAFAFA;
	border-radius: 4px;
	box-shadow: 0px 2px 3px rgba(0,0,0,.1);
	color: #343031;

}


.post-inner-content img {
	max-width: 100%;
	height: auto;
}

.alignleft {
	float: left;
}


.alignright {
	float: right;
}


.aligncenter {
	display: block;
	margin: 0px auto;
}

.alignleft, .alignright {
	margin: 10px 20px;
}

.entry-content:after {
	content: "";
	display: block;
	clear: both;
	margin: 0px;
}

.entry-content :last-child {
	margin-bottom: 0px;
}

.entry-content :first-child {
	margin-top: 0px;
}

.entry-footer {
	clear: both;
}

.primary-main img {
	max-width: 100%;
	height: auto;
}


/* End of File
----------------------------------------------- */
